doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title JK Gaming Zone
		link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="./index.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==", crossorigin="anonymous", referrerpolicy="no-referrer")
	body
		nav
			a.logo(href="/")
				img(src="./img1.jpg", alt="logo")
				.logoText JK Gaming Zone
			.socialMedia
				a(href="https://twitter.com/jadejakarmrajs3", target="_blank")
					i.fab.fa-twitter
				a(href="https://www.youtube.com/channel/UC9ATQvSY-UAL1MNmi5t0hIg", target="_blank")
					i.fab.fa-youtube
				a(href="https://www.instagram.com/jkgamingzone/", target="_blank")
					i.fab.fa-instagram
		.container
			.innerContainer
				.content
					h1 See My Amazing Videos
					h3 
						a(href="https://www.youtube.com/watch?v=_Q_RZhrUl_U", target="_blank") Watch Now
					a(href="https://www.youtube.com/channel/UCmGNIrM_yiIGSGsi2ZnJA_g", target="_blank") YouTube Channel
				.image
					img(src="./img2.jpg", alt="game1")
			.innerContainer
				.image
					img(src="./img1.jpg", alt="game2")
				.content
					h1 About
					p This website once started as a place to post short, personal videos. Throughout the years, it turned into its own form of art. JKGAMINGZONE uses state-of-the-art technology to create, edit, and display video content, with great storytelling at the heart of all videos.
					p JKGAMINGZONE is proud of the growing community of users who visit this site, offer their feedback and suggest future collaborations. If you’d like to join this community

		.footer
			a(href="mailto:jadejakarmrajsinh333@gmail.com") jadejakarmrajsinh333@gmail.com
			.socialMedia
				a(href="https://twitter.com/jadejakarmrajs3", target="_blank")
					i.fab.fa-twitter
				a(href="https://www.youtube.com/channel/UC9ATQvSY-UAL1MNmi5t0hIg", target="_blank")
					i.fab.fa-youtube
				a(href="https://www.instagram.com/jkgamingzone/", target="_blank")
					i.fab.fa-instagram
